body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
padding:40px;
}

h1{
color:#333;
}

.settings{
margin-bottom:20px;
}

select,button{
padding:8px;
margin:5px;
}

#textDisplay{
background:white;
padding:20px;
margin:20px auto;
width:80%;
border-radius:6px;
font-size:20px;
}

textarea{
width:80%;
height:120px;
font-size:18px;
padding:10px;
}

.result{
margin-top:20px;
font-size:18px;
}
